/* VARIABLES */

@font-face {
    font-family: "Tillana";
    src: url(../../../../public/assets/fonts/Tillana/Tillana-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Raleway";
    src: url(../../../../public/assets/fonts/raleway/static/Raleway-Regular.ttf) format('truetype');
}


/* TITLES */
h1, h2, h3 {
    font-family: "Tillana", Georgia, 'Times New Roman', Times, serif;
}

label, input, p, li, a {
    font-family: "Raleway", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main_form-log #btn_login,
.main_form-log #btn_signup, 
.main_form-log label,
.main_form-log button,
 
.main_form-account label, 
.main_form-account button 
{
    font-size: 1rem;
    font-weight: 600;
}

p {
    line-height: 1.5rem;
}
