/* VARIABLES */

@font-face {
    font-family: "Tillana";
    src: url(../../../assets/fonts/Tillana/Tillana-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Reem";
    src: url(../../../assets/fonts/reem-kufi-fun/webfonts/reem-kufi-fun-latin-ext-400-normal.woff) format('woff'),
         url(../../../assets/fonts/reem-kufi-fun/webfonts/reem-kufi-fun-latin-ext-400-normal.woff2) format('woff2'),
         url(../../../assets/fonts/reem-kufi-fun/ttf/reem-kufi-fun-latin-400-normal.ttf) format('truetype');
}


/* TITLES */
h1, h2, h3 {
    font-family: "Tillana", Georgia, 'Times New Roman', Times, serif;
}

label, input, p, li, a {
    font-family: "Reem", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main_form-log #btn_login, .main_form-log #btn_signup, 
.main_form-log label, .main_form-log input, 
.main_form-log button {
    font-size: 1rem;
    font-weight: 600;
}
